body{
	background-color: hsl(212, 45%, 89%); 
}

h1{
	font-family: 'Outfit', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: hsl(218, 44%, 22%);
	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
}

p{
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color:hsl(220, 15%, 55%); 
	margin-left: 20px;
	margin-right: 20px;
	text-align: center; 
}

.content{ 
	position: absolute; 
	left: 50%;
	top:50%; 
	transform: translate(-50%, -50%) ;
	background-color:hsl(0, 0%, 100%); 
	width : 300px;
	height: 470px;
	border-radius: 20px;
	box-shadow : 0px 10px 10px 0px rgba(0, 0, 255, .2);
}

.attribution{
	position: absolute; 
	bottom: 10px;
	left: 40%;
}

#qr_code{
	border-radius: 10px;
	margin: 15px;
	height: 270px;
	width: auto;
}